@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* purgecss start ignore */

html {
	@apply font-body;
}

// body {
// 	background: #FCFCFC;
// }

input, textarea, select, button {
	@apply outline-none;

	&:focus, &:active {
		@apply outline-none;
	}
}

// .container {
// 	@apply mx-auto px-5;

// 	@screen md {
// 		@apply px-12;
// 		width: 90%;
// 	}

// 	@screen lg {
// 		width: 80%;
// 		max-width: 1140px;
// 	}
// }

// input, textarea {
// 	&::placeholder {
// 		@apply text-dark-300 font-medium;
// 	}
// }

// h1, h2, h3, h4, h5, h6 {
// 	@apply font-heading font-bold text-dark-700;
// 	letter-spacing: -0.02em;
// }

/* purgecss end ignore */
